<menu>
    <menuitem label='CRM'>
        <icon>fa:user fa-fw</icon>
        <menu>
              <menuitem label='Clients'>
                  <icon>fa:users fa-fw</icon>
                  <action>SystemClientsList</action>
              </menuitem>
              <menuitem label='Notes/Calendar'>
                  <icon>fa:calendar fa-fw</icon>
                  <action>CalendarView</action>
              </menuitem>
              <menuitem label='Notes'>
                  <icon>fa:book fa-fw</icon>
                  <action>SystemNotesList</action>
              </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Commercial'>
        <icon>fa:street-view fa-fw</icon>
        <menu>
              <menuitem label='Stocks'>
                  <icon>fa:industry fa-fw</icon>
                  <action>SystemStockList</action>
              </menuitem>
              <menuitem label='Sales'>
                  <icon>fa:table fa-fw</icon>
                  <action>SystemSalesList</action>
              </menuitem>
        </menu>
    </menuitem>

     <menuitem label='Admon'>
        <icon>fa:university fa-fw</icon>
        <menu>
            <menuitem label='RRHH'>
                <icon>fa:life-ring fa-fw</icon>
                      <menu>
                            <menuitem label='Employees'>
                                <icon>fa:male fa-fw</icon>
                                <action>SystemEmployeesList</action>
                            </menuitem>
                      </menu>              
            </menuitem>
            <menuitem label='Finances'>
                <icon>fa:briefcase fa-fw</icon>
                      <menu>
                          <menuitem label='Invoices'>
                              <icon>fa:file-text-o fa-fw</icon>
                              <action>SystemInvoicesList</action>
                          </menuitem>
                          <menuitem label='Payments'>
                              <icon>fa:usd fa-fw</icon>
                              <action>SystemPaymentsList</action>
                          </menuitem>
                          <menuitem label='Charge'>
                              <icon>fa:balance-scale fa-fw</icon>
                              <action>SystemChargeList</action>
                          </menuitem>
                      </menu>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Administration'>
        <icon>fa:key fa-fw</icon>
        <menu>
              <menuitem label='Programs'>
                  <icon>fa:file-code-o fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='Groups'>
                  <icon>fa:users fa-fw</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='Users'>
                  <icon>fa:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='SQL Panel'>
                  <icon>fa:table fa-fw</icon>
                  <action>SystemSQLPanel</action>
              </menuitem>
              <menuitem label='PHP Info'>
                  <icon>fa:code fa-fw</icon>
                  <action>SystemPHPInfoView</action>
              </menuitem>
        </menu>
    </menuitem>

    <!--<menuitem label='Logs'>
        <icon>fa:desktop fa-fw</icon>
        <menu>
              <menuitem label='Access Log'>
                  <icon>fa:key fa-fw</icon>
                  <action>SystemAccessLogList</action>
              </menuitem>
              <menuitem label='Change Log'>
                  <icon>fa:film fa-fw</icon>
                  <action>SystemChangeLogView</action>
              </menuitem>
              <menuitem label='SQL Log'>
                  <icon>fa:database fa-fw</icon>
                  <action>SystemSqlLogList</action>
              </menuitem>
        </menu>
    </menuitem>-->

    <menuitem label='Common pages'>
        <menu>
            <menuitem label='Common page 1'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 2'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 3'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Logout'>
        <menu>
              <menuitem label='Profile'>
                  <icon>fa:user-md fa-fw</icon>
                  <action>SystemProfileView</action>
              </menuitem>

              <menuitem label='Logout'>
                  <action>LoginForm#method=onLogout#static=1</action>
                  <icon>fa:sign-out fa-fw</icon>
              </menuitem>
        </menu>
    </menuitem>
</menu>
