html, body
{
    height: 95.5%;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.content-wrapper
{
    background-color: white !important;
}

hr
{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid whitesmoke;
}

a
{
    text-decoration: none;
}

.popover-table
{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.popover-table td
{
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.tframe
{
    margin: 10px;
    padding-top: 5px !important;
    padding-bottom: 8px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
    border-radius: 4px !important;
}

.tframe legend
{
    background: white;
    color: #fff;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 0 0 1px #8A8A8A;
    margin-left: 3px;
    padding-right: 5px;
    margin-right: 5px;
    height: 28px;
}

.tframe legend label
{
    padding-left: 5px;
    font-weight: bold;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    display: inline-block;
    height: 28px;
    padding: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    border-radius: 1;
    border: 1px solid #ccc;
}

.tformtitle + tr > td
{
    padding-top: 15px !important;
}

.ui-datepicker-trigger
{
    height: 28px !important;
}

.tseekbutton
{
    height: 28px !important;
}

span.tdate-group-addon, span.input-group-addon.tcolor {
  height: 28px !important;
  border-radius:0 !important;
}

select.tcombo
{
    height: 28px;
    border: 1px solid #ccc !important;
    border-radius: 0;
}

.tfield:focus
{
    border-color: #3c8dbc !important;
    box-shadow: none !important;
    border-radius         : 0;
   -webkit-border-radius : none !important;
    -moz-border-radius    : none !important;
    -webkit-box-shadow : none !important;
       -moz-box-shadow : none !important;
            box-shadow : none !important;
}

textarea, .select2-choices, .select2-container-multi .select2-choices
{
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    background: white;
    background-image: white;
}

label
{
    margin-bottom: 5px;
    margin-left: 5px
}

label, input, button, select, textarea
{
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 12px;
    margin: 0px;
}

.tformtitle + tr > td
{
    padding-top: 15px !important;
}

.tformtitle > td
{
    padding: 8px 0px 8px 5px !important;
}

.tformtitle > td /* degradado*/
{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,606c88+100 */
background: rgb(63,76,107); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(96,108,136,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(96,108,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(96,108,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); /* IE6-9 */

}


.tformtitle > td > label
{
    color: white !important;
    font-size: 24px !important;
    text-align: center !important;
    margin-left: 10px !important;
}

.tformaction > td
{
    padding: 12px !important;
    border-radius:0px 0px 10px 10px !important; 
   -moz-border-radius:0px 0px 10px 10px !important; /* Firefox */ 
   -webkit-border-radius:0px 0px 10px 10px !important; /* Safari y Chrome */

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100 */
    background: rgb(176,212,227); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(176,212,227,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */

}

.tform > table
{
    background: #FAFAFA;
    border: 1px solid #C6C6C6 !important;
    padding: 0px !important;
    -webkit-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    border-radius:0px 0px 12px 12px !important; 
   -moz-border-radius:0px 0px 12px 12px !important; /* Firefox */ 
   -webkit-border-radius:0px 0px 12px 12px !important; /* Safari y Chrome */

   border-radius:0px 0px 10px 10px !important; 
   -moz-border-radius:0px 0px 10px 10px !important; /* Firefox */ 
   -webkit-border-radius:0px 0px 10px 10px !important; /* Safari y Chrome */

}


.tform
{
    background: white !important;
    border: none !important;
}

.tdatagrid_head tr td
{
    height: 34px;
}

.tdatagrid_body tr td
{
    height: 30px;
    border-radius:10px !important; 
   -moz-border-radius:10px !important; /* Firefox */ 
   -webkit-border-radius:10px !important; /* Safari y Chrome */
}

.tdatagrid_body tr td input
{
    height: 24px;
    margin: 0;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}


.navbar-default .navbar-brand
{
    font-family: 'Open Sans';
}

.sidebar
{
    font-family: 'Open Sans';
}

.tbreadcrumb li span
{
    font-family: 'Open Sans';
    font-size: 10pt;
}

.navbar-right {
    margin-right: 0 !important;
}

.badge-notify{
   background: #E16D6D;
   position:relative;
   top: -12px;
   left: -12px;
}

ul.navbar-top-links > li.dropdown >a {
    background: inherit;
}

ul.navbar-top-links > li.dropdown > a:hover {
    background: #4A9FE0;
}

ul.navbar-top-links .open>a, ul.navbar-top-links .open>a:hover, ul.navbar-top-links .open>a:focus {
    background: #4A9FE0;
}

@media only screen and (min-width: 501px) {
    #search-box {
        display:inline !important;
        float:left;
    }
}

@media only screen and (max-width: 500px) {
    #search-box {
        display:none !important;
    }
}

@media only screen and (max-width: 550px) {
    .pagination>li>a, .pagination>li>span {
        padding: 6px;
    }
}

.btn.btn-default {
    background: white;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 20px !important; 
   -moz-border-radius: 20px !important; /* Firefox */ 
   -webkit-border-radius: 20px !important; /* Safari y Chrome */

   -webkit-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);

    font-size: 16px;
    font-weight: bold;
}

.navbar-custom-menu > .navbar-nav {
    float: right;
}

.sidebar-menu .treeview li, .sidebar-menu .treeview ul
{
    background: none;
    overflow: hidden;
}

.select2-container {
    background: white;
    border-radius: 5px;
}

.select2-container .select2-choice {
    background-image: none !important;
}

.select2-dropdown-open .select2-choice {
    background-color: white;
}

.tform
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tform .tformtitle > td:first-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tform .tformtitle > td:last-child
{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10;
}

table.tdatagrid_table
{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    -webkit-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    border-radius:0px 0px 12px 12px !important; 
   -moz-border-radius:0px 0px 12px 12px !important; /* Firefox */ 
   -webkit-border-radius:0px 0px 12px 12px !important; /* Safari y Chrome */ 

}


#form_login table > tbody > tr.tformtitle > td
{
    text-align: center;
}

#form_login table > tbody > tr.tformtitle > td > label
{
    padding: 0;
    padding: 8px;
    font-size: 17pt;
}

.tformactionLogin > td
{
    padding: 12px !important;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100 */
background: rgb(176,212,227); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(176,212,227,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */

}

.btn.btn-success {
    margin-right: 20px;
    font-weight: bold;
    border-radius: 20px !important; 
   -moz-border-radius: 20px !important; /* Firefox */ 
   -webkit-border-radius: 20px !important; /* Safari y Chrome */

   -webkit-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */

}

.btn.btn-success:hover
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002400+0,005700+0,008a00+33,52b152+67,83c783+83,b4ddb4+100 */
background: rgb(0,36,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,36,0,1) 0%, rgba(0,87,0,1) 0%, rgba(0,138,0,1) 33%, rgba(82,177,82,1) 67%, rgba(131,199,131,1) 83%, rgba(180,221,180,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,36,0,1) 0%,rgba(0,87,0,1) 0%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,36,0,1) 0%,rgba(0,87,0,1) 0%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-9 */

}

.loginBgColor
{
    /*background-color: #222D32*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c8dbc+0,222d32+100 */
background: rgb(60,141,188); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(60,141,188,1) 0%, rgba(34,45,50,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(60,141,188,1) 0%,rgba(34,45,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(60,141,188,1) 0%,rgba(34,45,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c8dbc', endColorstr='#222d32',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tfield
{
    -webkit-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 6px 20px -6px rgba(0,0,0,0.75);
    border-radius:8px !important; 
   -moz-border-radius:8px !important; /* Firefox */ 
   -webkit-border-radius:8px !important; /* Safari y Chrome */
}

.tdatagrid_col,.tdatagrid_action
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#748b93+0,cedce7+100,cedce7+100 */
background: rgb(116,139,147); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(116,139,147,1) 0%, rgba(206,220,231,1) 100%, rgba(206,220,231,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(116,139,147,1) 0%,rgba(206,220,231,1) 100%,rgba(206,220,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(116,139,147,1) 0%,rgba(206,220,231,1) 100%,rgba(206,220,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#748b93', endColorstr='#cedce7',GradientType=0 ); /* IE6-9 */

}