<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LinkERP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {LIBRARIES}
    {HEAD}
    <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="app/templates/{template}/css/skins/skin-blue.min.css">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>LNK</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Link</b>ERP</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Burger Bottom</span>
          </a>
          <div class="navbar-custom-menu">
            <!-- manual -->
            <ul class="nav navbar-nav">
              <li class="manual">
                <a href="indexManual.php"><img alt="Go to manual" src="lib/adianti/images/go.png" width="30px"> &nbsp; <span>MANUAL</span></a>
              </li>
            </ul>
          </div>
        </nav>
        </nav>
      </header>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div id='adianti_div_content'>
              {CONTENT}
        </section><!-- /.content -->
      </div>

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- AdminLTE App -->
    <script src="app/templates/{template}/js/app.min.js"></script>
  </body>
</html>
