<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="business management system">
        <meta name="author" content="LinkERP">
    
        <title>LinkERP</title>
        
        {LIBRARIES}
        {HEAD}
            
        <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="app/templates/{template}/css/skins/skin-blue.min.css">
    </head>
    <body style="background-color: #222D32">
        <div>
        <br/><br/>
            <p align="center" style="font-size: 94px; color: #FFFFFF">
                <strong>Company Name</strong>
            </p>
        </div>
        <div id="wrapper">
            <!-- Navigation --> 
            <div id="adianti_div_content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>            
        </div>
        <!-- /#wrapper -->
    </body>
</html>